* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: azure;
    /* padding: 30px 40px; */
    margin: 30px 50px;
}

a {
    color: rgb(148, 90, 15);
}

ul {
    list-style-type: circle;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    max-width: 800px;
    display: block;
    margin: 0px auto;
}